      </div>
    </main>
    <footer class="footer">
      <div class="container-fluid">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        </ul>
        <p class="text-center text-body-secondary">©️ <%= new Date().getFullYear(); %> <a class="text-decoration-none" href="https://mubashirsohail4.github.io/personal-site/">Mubashir Sohail</a>.</p>
      </div> 
    </footer>
    <script src="/scripts/tooltip.js"></script>
  </body>

</html>