<%- include("partials/header.ejs") %>

<div class="alert alert-success fade show" role="alert">
  Your article has been published. Click
  <a href="/articles" class="alert-link">Articles</a> to read or
  <a href="/compose" class="alert-link">Compose</a> a new article.
</div>

<%- include("partials/footer.ejs") %>